.exercism.exe.old
exercism.exe
node_modules
.gradle
build
.vs
.stack-work
__pycache__
scratchWork
*.suo
*.opendb
*.db
*.ipch
.idea
.vs
.vscode
Debug
**/out/**
venv
*.iml
*.class
*.iws
**/bin/**
.settings
cache
**/vendor/**